{% extends "base.html" %}


{% block title %}
  Post List
{% endblock %}


{% block content %}
<div class="container">
  {% for item in post_list %}
  <h1><a href="{%url 'post_detail' item.id %}">{{item.title}}</a></h1>
  <h6>{{ item.author }}</h6>
  <p>{{ item.status }}</p>
  <br/>
  <br/>
    <a href="{% url 'post_detail' item.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'post_detail' item.id %}" class="btn btn-primary">Edit</a>
        
{% endfor %}
</div>
  {% endblock %}
  
